<style>< !--
/******** GLOBAL STYLES ********/
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * proxima-nova:
 *   - http://typekit.com/eulas/00000000000000007735e603
 *   - http://typekit.com/eulas/00000000000000007735e609
 *   - http://typekit.com/eulas/00000000000000007735e616
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-12-21 21:42:20 UTC"}*/
@import url("https://p.typekit.net/p.css?s=1&k=klt7lef&ht=tk&f=139.175.176&a=82321974&app=typekit&e=css");

@font-face {
  font-family: "proxima-nova-bold";
  src: url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "proxima-nova-italic";
  src: url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

.tk-proxima-nova {
  font-family: "proxima-nova", sans-serif;
}

@font-face {
  font-family: 'WebComponentsIcons';
  src: url('/Themes/SharedContent/Icons/WebComponentsIcons.eot?gedxeo');
  src: url('/Themes/SharedContent/Icons/WebComponentsIcons.eot?gedxeo#iefix') format('embedded-opentype'), url('/Themes/SharedContent/Icons/WebComponentsIcons.ttf?gedxeo') format('truetype'), url('/Themes/SharedContent/Icons/WebComponentsIcons.woff?gedxeo') format('woff'), url('/Themes/SharedContent/Icons/WebComponentsIcons.svg?gedxeo#WebComponentsIcons') format('svg');
  font-weight: normal;
  font-style: normal
}

body {
  font-family: 'proxima-nova', sans-serif;
  background-color: #f9f9f9;
}

strong {
  font-family: 'proxima-nova-bold', sans-serif;
}

em{
  font-family: 'proxima-nova-italic', sans-serif;
}

.wrapper__global {
  padding-bottom: 2rem;
}

.col__content {
  padding: 1rem;
}

/* BUTTONS */
.btn {
  border-radius: 0.5rem;
}

.ui-card .btn-sm {
  padding: 0.5rem 0.8rem;
}

/* HEADER */
.nav-toolbar__header {
  margin: 0 2rem 1rem auto;
}

.nav-toolbar__item {
  padding: 0 .75rem;
}

.nav-toolbar__header .icon, .nav-toolbar__footer .icon {
  margin-right: 0.2rem;
}

.nav-toolbar__notification {
  border-radius: 0.4rem;
  margin-right: 0.2rem;
}

/* LEFT NAVIGATION */
.main-menu__link {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.main-menu--slim .main-menu__link {
  padding-right: 17px;
}

/* CARDS */
.ui-card {
  background-color: #fff;
  border: 1px solid #e3e3e3 !important;
  border-radius: 0.65rem !important;
  -webkit-box-shadow: 0 2px 5px 0 #dddddd !important;
  -moz-box-shadow: 0 2px 5px 0 #dddddd !important;
  box-shadow: 0 2px 5px 0 #dddddd !important;
}

.ui-card-wrapper {
  margin-bottom: 0.5rem;
}

.ui-card-wrapper-inner, .ui-card-wrapper-inner--hr {
  padding: 1rem;
}

.ui-card-wrapper-inner--hr {
  min-height: unset;
}

.ui-card .separator {
  display: none;
}

.acc-detail__wrapper {
  padding: 1rem;
}

/* FOOTER */
.sitefooter {
  font-size: .9rem;
  padding: 0.5rem 1rem;
  border-top: 1px solid #ededed;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page__heading {
  font-size: 1.4rem;
}

.k-mobile .sitefooter {
  position: relative;
}

/******* ACCOUNTS OVERVIEW *******/
.accounts-groups-list__header {
  margin-top: 1rem;
}

.accounts-groups-list__header, .accounts-groups-list__header-title {
  margin-left: 0px !important;
  color: #222;
  font-weight: normal;
}

.accounts-groups-list-total {
  color: #222;
}

.accounts-groups-total__title-right-aligned {
  font-size: 1rem;
}

.account-name {
  font-weight: bold;
}

.account-name .text--secondary {
  font-weight: normal;
}

.ui-card__header-accounts-item .text--secondary {
  margin-top: -5px;
  font-size: 0.87rem;
}

/******* TRANSACTION HISTORY *******/
.k-grid td {
  padding: 0.5em 1.286em;
}

.content__container {
  background-color: #fff;
  border: 1px solid #e3e3e3 !important;
  border-radius: 0.65rem !important;
  -webkit-box-shadow: 0 2px 5px 0 #dddddd !important;
  -moz-box-shadow: 0 2px 5px 0 #dddddd !important;
  box-shadow: 0 2px 5px 0 #dddddd !important;
  padding: 1rem;
}

/******* TRANSFERS *******/
.vc__header-title {
  font-size: 1.1rem;
}

/******* widgets *******/
.summit-widget {
  width: 100%;
}

.summit-widget #DropDownOptionsToShareAccountsTemp .form-control-container:before, .summit-widget #DropDownOptionsToShare .form-control-container:before, .summit-widget #DropDownOptionsToShareAccounts .form-control-container:before, .summit-widget #DropDownOptions .form-control-container:before, .summit-widget #DropDownOptionsFromCertAccountsTemp .form-control-container:before, .summit-widget #DropDownOptionsFromCert .form-control-container:before {
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  font: 16px/1 'WebComponentsIcons';
  speak: none;
  font-variant: normal;
  text-transform: none;
  text-indent: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
  content: "\e006";
  margin: auto;
  width: 1em;
  height: 1em;
  line-height: 1;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
}

.summit-widget .top-message {
  margin: 20px;
}

.summit-widget .table-head {
  margin-left: 20px;
  margin-bottom: 10px;
}

.summit-widget #shareSwitches {
  margin-left: 20px;
  margin-right: 20px;
}

.summit-widget #tableId {
  border-top: 1px solid #e3e3e3;
}

.summit-widget #tableId tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  flex-wrap: wrap;
}

.summit-widget #tableId td {
  margin-left: 5px;
  margin-right: 5px;
}

.summit-widget #tableId td:nth-child(1) {
  flex-grow: 2;
}

.summit-widget #tableId td:nth-child(3), .summit-widget #tableId td:nth-child(5) {
  padding-top: 8px;
}

.summit-paperless #tableId td:nth-child(1) {
  flex-grow: 0;
  flex-basis: 150px;
}

.summit-paperless #tableId td:nth-child(4) {
  flex-grow: 2;
}

.summit-paperless #tableId td:nth-child(2) {
  flex-basis: 40%;
}

.summit-paperless #tableId td:nth-child(3) {
  flex-basis: 30px;
}

.summit-paperless .toggle__switch:last-child {
  margin-left: 10px;
}

.summit-paperless #tableId td:nth-child(3) {
  padding-top: 0px;
}

#DisplayDisclosureHTML {
  height: 250px;
  overflow: scroll;
  margin-bottom: 30px;
  border: 1px solid #DFDFDF;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

@media(max-width: 950px) {
  .summit-widget #tableId td:nth-child(1) {
    flex-basis: 100%;
  }

  .summit-paperless #tableId td:nth-child(2) {
    flex-basis: 60%;
    flex-grow: 2;
  }
}

/* Cash Boomerang */
.cash-boom-widget #DropDownAccountDiv legend {
  padding-left: 20px;
}

.cash-boom-widget-container {
  max-width: 700px;
}

.cash-boom-widget strong {
  font-weight: 600;
}

.radio-boom-wrapper, .cash-boom-widget #DropDownRedeemTypeDiv, .cash-boom-widget #DropDownShareDiv,
.cash-boom-widget #CBSummaryShareDiv, .cash-boom-widget #CBSummaryMoneySmartsDiv, .cash-boom-widget #MoneySmartsInfoDiv,
.cash-boom-widget .form-submit-container {
  margin-left: 20px;
  margin-right: 20px;
}

.radio-boom-wrapper label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  cursor: pointer;
}

.radio-boom-wrapper label p {
  margin: 0;
}

input[name=boom-radio]:checked+label {
  box-shadow: 0 0px 2px 0 #63A60A;
  border: 1px solid #63A60A;
}

.radio-boom-wrapper label div {
  flex-basis: 24%;
  font-size: 14px;
}

.radio-boom-wrapper label div:nth-child(2) {
  flex-basis: 30%;
  padding-left: 20px;
}

.radio-boom-wrapper label div:nth-child(3) {
  flex-basis: 20%;
}

.radio-boom-wrapper .boom-icon {
  flex-basis: 16%;
  display: flex;
}

.radio-boom-wrapper .boom-icon img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 5px;
}

.radio-boom-wrapper label:before {
  content: "";
  border-radius: 100%;
  border: 1px solid #63A60A;
  width: .8em;
  height: .8em;
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.radio-boom-wrapper input {
  display: none;
}

input[name=boom-radio]:checked+label:before {
  background-color: #63A60A;
  box-shadow: inset 0 0 0 3px #f4f4f4;
}

.radio-boom-wrapper input[disabled]+label {
  background-color: #EEEEEE;
}

.radio-boom-wrapper input[disabled]+label:before {
  border: 1px solid #898989;
}

#CBSummaryShareDiv table, #CBSummaryMoneySmartsDiv table, .disclosure {
  margin-bottom: 15px;
  border: 1px solid #DFDFDF;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 0.25rem;
}

.disclosure {
  height: 250px;
  overflow: auto;
  width: auto;
}

#MoneySmartsInfoDiv {
  margin-bottom: 15px;
}

@media(max-width: 950px) {
  .radio-boom-wrapper {
    margin: 0;
  }

  .cash-boom-widget .content__container {
    padding: 0;
    padding-bottom: 1rem;
  }

  .radio-boom-wrapper label:before {
    margin-left: 0;
    margin-right: 0;
  }

  .radio-boom-wrapper label {
    padding-left: 5px;
    padding-right: 5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  input[name=boom-radio]:checked+label {
    border-left: none;
    border-right: none;
  }

  .radio-boom-wrapper .boom-icon {
    flex-basis: 13%;
  }

  .radio-boom-wrapper label div:nth-child(2) {
    padding-left: 10px;
  }
}

--></style>
